/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.app-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.app-bar__navigation {
    height: 100%;
}

.app-bar img {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    grid-auto-columns: 10px;
}

.app-bar .app-bar__navigation ul {
    display: flex;
    margin-right: 30px;
    padding: 0;
}

.app-bar .app-bar__navigation ul li {
    list-style: none;
}

.app-bar .app-bar__navigation ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: #D0AC8A;
}

.app-bar__navigation ul li a:hover {
    color: #FF0B66;
    transition: all 0.3s ease-in-out;
}

.app-bar__navigation ul li button {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(229, 229, 229);
    border-radius: 50%;
    border: 2px;
    background-color: #FF0B66;
}

.app-bar__navigation ul li button:hover {
    color: black;
    transition: all 0.3s ease-in-out;
}

.jumbo {
    background-image: url('../img/babycaree.jpg');
    width: 100%;
    top: 0;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.jumbotron_ {
    color: #FF0B66;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.jumbotron__ p {
    color: #FF0B66;
}

.Headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 40px;
    padding: 20px;
    color: #FF0B66;
    margin: 0;
}

.Headline_kiri {
    margin-top: 100px;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 10px;
    color: #FF0B66;
}

.Headline_kiri p {
    margin-top: 20px;
}

.Headline_kanan {
    width: 100%;
    margin-top: 150px;
    margin-left: 20px;
}

.Headline_kanan img {
    width: 100%;
    margin-top: 300px;
    margin-left: -20px;
}

.title_page_article {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: sans-serif;
    color: rgb(33, 31, 31);
}

.load {
    margin-top: 25%;
}

.title_page_article h1 {
    margin-top: 50px;
}

.title_page_article p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.search-bar input {
    padding: 8px;
    border-radius: 10px;
}

.footer {
    margin-top: 1000px;
}

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0;
}

.article-item {
    margin: 0 10px 18px 10px;
    box-shadow: 0 4px 8px 0 rgba(113, 107, 107, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.image-article {
    object-fit: cover;
}

.article-item img {
    width: 100%;
    height: 300px;
}

.article-info {
    padding: 15px;
}

.title-article {
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
}

.desc-article {
    text-align: justify;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.babyChcek {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;
}

.reminder {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 20px;
}

.list-group {
    width: 50%;
    height: 42px;
    padding: 20px;
}

.list-group li {
    background-color: #FF0B66;
    box-shadow: 0 4px 8px 0 rgba(128, 127, 127, 0.2);
    opacity: 0.9;
}

.list-group li h1 {
    color: white;
}

.list-group li p {
    color: white;
}

.list-group-item .closeIcon {
    background-color: rgb(21, 95, 83);
    opacity: 0.9;
    margin-bottom: 10px;
}

.list-group-item {
    padding: 10px;
    margin-bottom: 40px;
}

.App h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.content-page-reminder {
    margin-bottom: 900px;
}

.container-list-reminder {
    margin-bottom: 30px;
    margin-top: 150px;
}

.react-datepicker-popper {
    margin-top: -60px;
    margin-left: 25%;
    margin-right: auto;
}

.clearReminder {
    margin-bottom: 30px;
    margin-top: -380px;
    margin-left: -18px;
}

.Reminder {
    margin-bottom: 30px;
    margin-top: -30px;
    margin-right: 20px;
}

.logo-reminder{
    width: 30%;
    margin-top: 50px;
}

.react-datepicker__input-container input,
.App input {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(113, 107, 107, 0.2);
    height: 50px;
    margin-top: 20px;
}

.react-datepicker__input-container input {
    margin-bottom: 60px;
}

.reminder-title h2 {
    margin-top: 70px;
    margin-bottom: 50px;
}